VNEXPRESS/Service References/CaptureArchivied/PDFConverterService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://118.107.71.36:8392/PDFConverterService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PDFConverterConSoleService.Entities" />
  <xs:element name="ConvertToPDF">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PDFConverterConSoleService.Entities" minOccurs="0" name="request" nillable="true" type="q1:ConvertPDFRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertToPDFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertToPDFResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>