BlankSpider.App/Service References/CaptureArchivied/PDFConverterService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PDFConverterConSoleService.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PDFConverterConSoleService.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConvertPDFRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="deleteItems" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filterBy" type="xs:int" />
      <xs:element minOccurs="0" name="filterText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="pageURL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConvertPDFRequest" nillable="true" type="tns:ConvertPDFRequest" />
</xs:schema>